$boekSelectie:"boekSelectie";
$boekSelectie__:"boekSelectie__";
$besteldItem:"besteldItem";
$besteldItem__:"besteldItem__";
$data-cel:"data-cel";
$nthchild:':nth-child(';
$n:'&:';
$nnthchild:'&:nth-child(';

$padding:"padding";
$em:"em";

$dot:'.';
$waarde0:0;
$waarde1:1;
$waarde2:2;
$waarde3:3;
$waarde4:4;
$empty:":(empty)";
$em:"em";